extends layout.pug

block pagescripts 
  link(rel='stylesheet', href='css/pages.css')
  script(src='scripts/pagescripts.js')

block content
  #page
    #pageContent
      h1= title
      p Hello! My name is Amy. 
      p I'm making this website during the 2020 quarantines, both for something for me to do and to give other people something to play with. 
      p Each toy is coded in p5js, which is a library for Java, similar to Processing. Processing is a great way to learn to code and, if you want to do that, I suggest checking out Daniel Shiffman's tutorials on Youtube.
      p If you want to see more of my work, you can #[a(href="http://art.amygoodchild.com") visit my portfolio here].
      p If you would like to contact me, you can #[a(href="mailto:amy@amygoodchild.com") email me].
      p I'm also on #[a(href="https://www.instagram.com/amy_goodchild/") Instagram] and #[a(href="https://twitter.com/amygoodchild") Twitter], and I would love if you'd follow me there.
      p
      
  
