extends toy.pug

block thisToyScripts
  // extra script links here if needed
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')

block content
  #welcome 
    p Hi, this is 
      span.light Blend.
    p
    p Please return on the 21st and 22nd November to experience Blend
    p More information available #[a(href="https://www.watermans.org.uk/events/blend-a-multiplayer-online-experience/" class="white-link") here]
        
  #theToyContainer
  #img-out
    
  
