extends layout.pug

block pagescripts 
  script(src='scripts/pagescripts.js')
  
block content
  #homepage
    
    .definition
      h1 Bimble
      p.pronunciation 
        | /ˈbɪmb(ə)l/ <br>
        | (noun) <br>
      p.theDefinition 
        | a leisurely walk or journey. <br>
        | "we were enjoying a pleasant bimble over the rocks"
      a.playLink(href="/flock") Play
      
  
  
