//- layout.pug
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    title Bimble Space - #{title}
    block scripts
      script(src='https://www.googletagmanager.com/gtag/js?id=UA-162297893-1')
      script(src='scripts/google.js')
      script(src='libraries/jquery-3.4.1.js')
      script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js")
      
    block animationScripts 
      script(src='scripts/animation.js')
      
    block styles  
      link(rel='stylesheet', href='css/style.css')

    block toyscripts
    block pagescripts
      
  body
    #everything
      block backgroundanimation
        .stars
          - for (var i = 0; i < 90; i++)
            .star
          .shootingstar
          .shootingstar2
        .clouds
          - for (var i = 0; i < 50; i++)
            .cloud
              
      block menu
        #menu 
          #menuBarContents
            .menuButton.menuButtonClosed
            .menuButton.menuButtonOpen
            .menuButtonMobile.menuButtonClosedMobile
            .menuButtonMobile.menuButtonOpenMobile
            
            .fullScreenButton.fullScreenButtonOpen
            .fullScreenButton.fullScreenButtonClose
            
            a#bimbleLogo(href="/") Bimble Space
                  
            #menuContents
              #nav
                if (title=="Home")
                  a.selected(href="/") Home
                else
                  a(href="/") Home
                  
                each page in ["toys", "about"]
                  if (path==page)
                    a.selected(href="/" + page)= page
                  else
                    a(href="/" + page)= page
                    
              //#toymenu 
                .toyMenuHeader Browse toys:
                each page in ["spirograph"]
                  if (title==page)
                    a.toyLink(href="/" + page)
                      img(src="/images/toythumbs/" + page + ".jpg")
                  else
                    a.gameLink(href="/" + page)
                      img(src="/images/toythumbs/" + page + ".jpg")
                  
        block content
          #content
        
