//- layout.pug
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    title Bimble Space - #{title}
    block scripts
      script(src='libraries/jquery-3.4.1.js')
      script(src='scripts/mainscripts.js')
      script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js")
      
    block styles  
      link(rel='stylesheet', href='css/style.css')
        
  body
    #everything
      .stars
        - for (var i = 0; i < 90; i++)
          .star
        .shootingstar
        .shootingstar2
      .clouds
        - for (var i = 0; i < 50; i++)
          .cloud

      #menu 
        block menu
          .menuButton.menuButtonClosed
          .menuButton.menuButtonOpen
          #nav
            if (title=="home")
                a.selected(href="/") home
            else
                a(href="/") home
            each page in ["about", "contact"]
              if (title==page)
                a.selected(href="/" + page)= page
              else
                a(href="/" + page)= page
                
          #toymenu 
            .toyMenuHeader Browse toys:
            each page in ["spirograph"]
              if (title==page)
                a.toyLink(href="/" + page)
                  img(src="/images/toythumbs/" + page + ".jpg")
              else
                a.gameLink(href="/" + page)
                  img(src="/images/toythumbs/" + page + ".jpg")
                
      #content
        block content
      
