extends layout.pug

block pagescripts 
  link(rel='stylesheet', href='css/pages.css')
  script(src='scripts/pagescripts.js')

block content
  #page
    #pageContent
      h1 About
      p Hello! My name is Amy Goodchild. I'm an artist and creative technologist in London 
      p Bimble Space is a place to spend some time. Some of these toys allow you to make a fun and unusual connection with a stranger.
      p Each toy is coded in p5js, which is a library for JavaScript, similar to Processing (which is a library for Java). Processing or p5js are a great way to learn to code and, if you want to do that, I suggest checking out Daniel Shiffman's tutorials on Youtube.
      p If you want to see more of my work, you can #[a(href="http://art.amygoodchild.com") visit my portfolio here].
      p If you would like to contact me, you can #[a(href="mailto:amy@amygoodchild.com") email me].
      p I'm also on #[a(href="https://www.instagram.com/amy_goodchild/") Instagram] and #[a(href="https://twitter.com/amygoodchild") Twitter], and I would love if you'd follow me there.
      p.endPadding
      
  
