extends layout.pug

block pagescripts 
  link(rel='stylesheet', href='css/pages.css')
  script(src='scripts/pagescripts.js')

block content
  #pageContent
    h1= title
    p this is a content page
  
