extends toy.pug

block thisToyScripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')


block content
  #options
    #mobileColor
    - for (var i = 0; i < 12; i++)
      button(id='color' + i).colorButton
    //div(id='drawToggle')
    //  div(id='toggler')
    //div draw / push (p)
  #info You're playing solo  
  #welcome 
    p.closer [X]
    p Drag your cursor  :)
    p If other people are here at the same time as you, you'll be paired up so you can play together.
    p
    p#userCount 
    p
    

    
  #theToyContainer
  #img-out
