extends toy.pug

block thisToyScripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')


block content
  #options
    #mobileColor
    - for (var i = 0; i < 12; i++)
      button(id='color' + i).colorButton
    //div(id='drawToggle')
    //  div(id='toggler')
    //div draw / push (p)
  #info You're playing solo  
    
  #theToyContainer
  #img-out
