extends toy.pug

block thisToyScripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')


block content
  #options
    #mobileColor
    - for (var i = 0; i < 12; i++)
      button(id='color' + i).colorButton
    //div(id='drawToggle')
    //  div(id='toggler')
    //div draw / push (p)
  #info 
    p#infoContent Finding you a partner... <br> You can play solo in the meantime
  #actions
  .actionMenu#pairedActions
    .actionItem.playSolo Play solo instead
    .actionItem.sendGoodbye Send goodbye
  .actionMenu#choseSoloActions
    .actionItem.findPartner Play paired instead
  .actionMenu#searchingActions
    .actionItem.playSolo Cancel search - play solo
  .actionMenu#idleActions
    .actionItem.findPartner Play paired instead
  
  #goodbye.goodbye
    .small Your partner says 
    .large Goodbye
  #myGoodbye.goodbye
    .small You say 
    .large Goodbye

  #welcome 
    p Welcome :)
    p
    p Would you like to try this out alone or get paired up with other people?
    p
    button.choice#alone Alone
    button.choice#paired Paired<br>
    p
    p.hint (Paired is strongly recommended)
    p.hint#currentUsers Calculating current users
    

    
  #theToyContainer
  #img-out
