extends toy.pug

block thisToyScripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.3/socket.io.min.js')


block content
  #options
    #mobileColor
    - for (var i = 0; i < 12; i++)
      button(id='color' + i).colorButton
    //div(id='drawToggle')
    //  div(id='toggler')
    //div draw / push (p)
  #info 
    p#infoContent Finding you a partner... <br> You can play solo in the meantime
  #idleWarning 
    p#idleWarningContent
  #actions Options
  .actionMenu#pairedActions
    .actionItem.playSolo Play solo instead
    .actionItem.sendGoodbye Send goodbye
  .actionMenu#choseSoloActions
    .actionItem.findPartner Play paired instead
  .actionMenu#searchingActions
    .actionItem.playSolo Cancel search - play solo
  .actionMenu#idleActions
    .actionItem.findPartner Play paired
  
  #goodbye.goodbye
    .small Your partner says 
    .large Goodbye
  #myGoodbye.goodbye
    .small You say 
    .large Goodbye

  #welcome 
    p Hi, this is 
      span.light Flock!
    p
    p If there are other people here, you can play 
      span.light together! 
    p
    p
    .checkboxHolder
      #checkbox
      #checkBoxLabel Pair me with other people 
        span.small (recommended)
      
    button.choice#start Start 
    //button.choice#alone Alone

    p
    p.hint#currentUsers Calculating current users
    

    
  #theToyContainer
  #img-out
