extends toy.pug

block thisToyScripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')


block content
  #options
    - for (var i = 0; i < 8; i++)
      button(id='color' + i).colorButton
    
  #theToyContainer
  #img-out
