extends toy.pug

block thisToyScripts
  // extra script links here if needed


block content
  #rotateMenu
    #penColorsMenu.menuOption.allUI
      .menuIcon.allUI
      .menuText.allUI Pen
    #bgColorsMenu.menuOption.allUI
      .menuIcon.allUI
      .menuText.allUI Canvas
    #optionsMenu.menuOption.allUI
      .menuIcon.allUI
      .menuText.allUI Options
    #pairingMenu.menuOption.allUI
      .menuIcon.allUI
      .menuText.allUI Connect
    #clearAllButton.menuOption.allUI
      .menuIcon.allUI
      .menuText.allUI Clear
            
  #penColors.menuDrawer
    - for (var i = 0; i < 5; i++)
      button(id='penColor' + i class='penColor' + i).penColorButton.allUI
  #bgColors.menuDrawer
    - for (var i = 0; i < 5; i++)
      button(id='bgColor' + i class='bgColor' + i).bgColorButton.allUI
    
  #optionSelector
  #options.menuDrawer
 
    .optionHolder
      .optionText Pen Size
      .sliderBg
        - for (var i = 1; i < 7; i++)
          button(id='penSize' + i).penSizeButton.sliderButton.allUI #{i}
          
    .optionHolder
      .optionText Spin Direction
      button(id='spinClockWise').spinButton.buttonSelected.allUI
      button(id='spinAntiClockWise').spinButton.allUI
          
    .optionHolder
      .optionText Trail Length
      .sliderBg
        - for (var i = 1; i < 7; i++)
          button(id='trailLength' + i).trailLengthButton.sliderButton.allUI #{i}
              
    .optionHolder
      .optionText Speed
      .sliderBg
        - for (var i = 0; i < 6; i++)
          button(id='speed' + i).speedButton.sliderButton.allUI #{i}

          
  #theToyContainer
  #img-out
    
  
