extends toy.pug

block thisToyScripts
  // extra script links here if needed
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
  script(src='../scripts/rotate-tidied/canvasHandler.js')  
  script(src='../scripts/rotate-tidied/pointsHandler.js')  
  script(src='../scripts/rotate-tidied/commsHandler.js')  
  script(src='../scripts/rotate-tidied/settingHandler.js') 
  script(src='../scripts/rotate-tidied/idleHandler.js') 
  
  script(src='../scripts/rotate-tidied/commsUI.js')
  script(src='../scripts/rotate-tidied/settingsUI.js')
  //- Facebook Open Graph Meta Data
  meta(property="og:url" content="https://in.bimble.space/blend")
  meta(property="og:title" content="Blend - A multiplayer art experience")
  meta(property="og:description" content="Draw beautiful swirling gradients. Connect with strangers on the same canvas.")
  meta(property="og:image" content="https://in.bimble.space/images/rotate/blend.jpg")

  //- Twitter Meta Data
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="Bimble Space")
  meta(name="twitter:creator" content="Amy Goodchild")
  meta(name="twitter:title" content="Blend - A multiplayer art experience")
  meta(name="twitter:description" content="Draw beautiful swirling gradients. Connect with strangers on the same canvas")
  meta(name="twitter:image" content="https://in.bimble.space/images/rotate/blend.jpg")
    

block content
  #welcome 
    p Hi, this is Blend.
    p
    p If there are other people here, you will be paired up to draw 
      span.light together. 
    .checkboxHolder
      .checkbox
      #checkBoxLabel Pair me with other people 
        span.small (recommended)
      
    button.choice#start Start 
    p.note
      | If you are here with children, please note that this space is unmoderated and,
      | while the artist would encourage everyone to keep their drawings family friendly,
      | you may want to play unpaired. 
    
  #credit
    p Artist - #[a(href="https://www.instagram.com/amy_goodchild/" class="white-link") Amy Goodchild]
  
  
  #connectionInfo 
    p#infoContent Finding you a partner... <br> You can play solo in the meantime
  #idleWarning.idleMessage
    p#idleWarningContent
      p Just drag your finger or mouse on the screen to draw :)
      p (If you don't draw anything, we'll disconnect you so your partner can play with someone else)
  #idleNotification.idleMessage
    p#idleWarningContent
      p Unfortunately you didn't draw anything for a while so we disconnected you. 
      p Just start drawing to carry on. 
      p Select "Play Paired" from the pairing menu to reconnect.
      
  
  #rotateMenu
    #penColorsMenu.menuOption.allUI
      .menuIcon.allUI
      .menuText.allUI Pen
    #bgColorsMenu.menuOption.allUI
      .menuIcon.allUI
      .menuText.allUI Canvas
    #optionsMenu.menuOption.allUI
      .menuIcon.allUI
      .menuText.allUI Options
    #pairingMenu.menuOption.allUI
      .menuIcon.allUI
      .menuText.allUI Pairing
    #clearAllButton.menuOption.allUI
      .menuIcon.allUI
      .menuText.allUI Clear
    #saveButton.menuOption.allUI
      .menuIcon.allUI
      .menuText.allUI Save PNG
            
  #penColors.menuDrawer
    - for (var i = 0; i < 6; i++)
      button(id='penColor' + i class='penColor' + i).penColorButton.allUI
  #bgColors.menuDrawer
    - for (var i = 0; i < 5; i++)
      button(id='bgColor' + i class='bgColor' + i).bgColorButton.allUI
    
  #optionSelector
  #options.menuDrawer
    .optionHolder
      .optionText Pen Size
      .sliderBg
        - for (var i = 1; i < 7; i++)
          button(id='penSize' + i).penSizeButton.sliderButton.allUI #{i}        
    .optionHolder
      .optionText Spin Direction
      button(id='spinClockWise').spinButton.buttonSelected.allUI
      button(id='spinAntiClockWise').spinButton.allUI        
    .optionHolder
      .optionText Trail Length
      .sliderBg.smallSliderBg
        - for (var i = 1; i < 4; i++)
          button(id='trailLength' + i).trailLengthButton.sliderButton.allUI #{i}            
    .optionHolder
      .optionText Speed
      .sliderBg.smallSliderBg
        - for (var i = 1; i < 4; i++)
          button(id='speed' + i).speedButton.sliderButton.allUI #{i}
  
  #notification
  
  
  #pairingSelector
  #pairing.menuDrawer
    #choseSoloButtons.pairingDrawer
      button.pairMe.pairingButtons Play paired
    #searchingButtons.pairingDrawer
      button.playSolo.pairingButtons Play solo instead
    #pairedButtons.pairingDrawer
      button.playSolo.pairingButtons Play solo instead
    #idleButtons.pairingDrawer
      button.pairMe.pairingButtons Pair me up
            
  #theToyContainer
  #img-out
    
  
