extends layout.pug

block toyscripts 
  script(src='scripts/p5js/p5.js')
  script(src='scripts/p5js/p5.dom.js')
  script(src='scripts/p5js/p5.clickable.js')

  script(src='scripts/p5js/p5.sound.js')
  
  script(src='scripts/' + title + '/sketch.js')
  script(src='scripts/' + title + '/ui.js')
  link(rel='stylesheet', href='css/toys.css')
  link(rel='stylesheet', href='css/' + title + '.css')

  each val in theScripts
    script(src='scripts/' + title + '/'+ val +'.js')
  
block animationScripts
  
block content
  block backgroundanimation

  
