extends layout.pug

block toyscripts 
  block thisToyScripts
    
  script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js')
  script(src='scripts/p5js/p5.dom.js')
    
  script(src='scripts/screenshots/blob.js')
    
  script(src='scripts/' + path + '/sketch.js')
  script(src='scripts/' + path + '/ui.js')
  script(src='scripts/toyscripts.js')
  link(rel='stylesheet', href='css/toys.css')
  link(rel='stylesheet', href='css/' + path + '.css')
    
  
    
  

  each val in theScripts
    script(src='scripts/' + path + '/'+ val +'.js')
  
block animationScripts
  
block content
  block backgroundanimation

  
