
#pageContent{
  float: left;
  display: inline-block;
  margin-left: 190px;
  margin-top: 30px;
  width: 50%;
  height: 90%;
  background: rgba(0, 0, 0, 0.25);
  padding: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1{
  margin-top: 0px;
}
