$darkPurple: rgba(101, 0, 107, 1);
$lightPurple: rgba(80, 63, 135, 1);
$darkBlue: rgba(56, 135, 196, 1);
$lightBlue: rgba(134, 187, 216, 1);
$pink: rgba(232, 0, 119, 1);


#img-out{
  position: absolute;
  right: 0;
  z-index: -10;
}


#theToyContainer{
  width: calc(100% - 55px);
  height: 100%;
  margin-left: 55px;
}


canvas{
  position: absolute;
}


@media (orientation: portrait) {

  #theToyContainer{
    width: 100%;
    height: calc(100% - 50px);
    margin-left: 0px;
    margin-top: 50px;
  }


}
