$darkPurple: rgba(101, 0, 107, 1);
$lightPurple: rgba(80, 63, 135, 1);
$darkBlue: rgba(56, 135, 196, 1);
$lightBlue: rgba(134, 187, 216, 1);
$pink: rgba(232, 0, 119, 1);


#img-out{
  position: absolute;
  right: 0;
  z-index: -10;
}

#options {
  width: 100px;
  height: 100vh;
  //border-right: 1px solid #515151;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
  position: absolute;
  left: 55px;
  top: 0px;
  z-index: 1;
}

#info{
  position: absolute;
  top: 10px;
  left: 190px;
  background: #000000;
  color: #ffffff;
  z-index: 3;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  //font-family: Tahoma;
  -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */

}

#mobileColor{
  display: none;
}


#theToyContainer{
  width: calc(100% - 55px);
  height: 100%;
  margin-left: 55px;
}

#welcome{
  width: 400px;
  position: absolute;
  z-index: 200;
  left: 200px;
  top: 60px;
  background: #000000a4;
  color: #ffffff;
  border: 1px #ffffff solid;
  padding: 0px 20px 10px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  font-family: moonLight;
  line-height: 25px;
  letter-spacing: 0.2px;
  cursor: pointer;
}

#welcome .closer{
  text-align: right;
  margin: 6px -10px -22px;
}


canvas{
  position: absolute;
}

.colorButton{
  width: 48px;
  height: 48px;
  border-radius: 25px;
  padding: 0px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  outline: 0;
  background: #cccccc;
  margin-bottom: 8px;
  margin-right: 8px;
}

.colorButton:hover{
  border: 4px solid #ffffff;
}

.colorButton:focus{
  border: 6px solid #ffffff;
}

.colorButtonOn{
  border: 6px solid #ffffff;
}

#color0{ background: linear-gradient(34deg, #e2d810 30%, #d9138a 50%, #12a4d9 80%); }
#color1{ background: linear-gradient(34deg, #f5f0e1 30%, #ff6e53 50%, #ffc13b 80%);}
#color2{ background: linear-gradient(34deg, #4eff5d 30%, #d9f8b1 50%, #1b6535 80%);}
#color3{ background: linear-gradient(34deg, #e75874 30%, #be1558 50%, #fbcbc9 80%);}
#color4{ background: linear-gradient(34deg, #8a307f 30%, #4493ff 50%, #ff3796 80%);}
#color5{ background: linear-gradient(34deg, #fbcbc9 30%, #ffea04 50%, #f33ca4 80%);}
#color6{ background: linear-gradient(34deg, #ffb312 30%, #85cfb4 50%, #ed186b 80%);}
#color7{ background: linear-gradient(34deg, #eecce7 30%, #33f2dc 50%, #55b7d2 80%);}
#color8{ background: linear-gradient(34deg, #79cbb8 30%, #500472 50%, #ddcb1c 80%);}
#color9{ background: linear-gradient(34deg, #1fbfb8 30%, #11587e 50%, #1978a5 80%);}
#color10{ background: linear-gradient(34deg, #da000f 30%, #ff7e00 50%, #ffd800 80%);}
#color11{ background: linear-gradient(34deg, #1b2d34 30%, #00ffda 50%, #ffca00 80%);}

#drawToggle{
  width: 48px;
  height: 30px;
  border: 1px solid #ffffff;
  background: 0;
  margin-top: 10px;
  float: left;
}

#toggler{
  width: 23px;
  height: 28px;
  background: #ffffff;
  margin: 1px 0px 1px 1px;
  float: left;
}


@media (max-height: 725px) {
  #options {
    width: 150px;
  }
}


@media (orientation: portrait) {

  #theToyContainer{
    width: 100%;
    height: calc(100% - 50px);
    margin-left: 0px;
    margin-top: 50px;
    overscroll-behavior-y: contain;
  }

  canvas{
    overscroll-behavior-y: contain;
  }



  .colorButton {
    display: none;
  }

  #options{
    left: 0;
    top: 50;
    width: 150px;
  }

  #mobileColor{
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 25px;
    padding: 0px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    outline: 0;
    background: #cccccc;
    margin-bottom: 8px;
    margin-right: 8px;
    background: linear-gradient(90deg, rgba(188,0,233,1) 0%, rgba(72,70,255,1) 19%, rgba(44,169,170,1) 33%, rgba(98,213,126,1) 45%, rgba(188,217,51,1) 60%, rgba(255,149,0,1) 75%, rgba(255,61,61,1) 100%);
  }

  #info{
    position: absolute;
    top: 60px;
    right: 5px;
    max-width: calc(100vw - 5px - 120px);
    left: auto;
    bottom: auto;
    text-align: right;
  }

  #welcome{
    position: absolute;
    top: 120px;
    right: 10px;
    left: auto;
    width: calc(100vw - 20px);
    max-width: 400px;
  }



}
