#img-out {
  position: absolute;
  right: 0;
  z-index: -10;
}


#theToyContainer {
  width: calc(100% - 55px - 130px);
  height: 100%;
  margin-left: calc(55px + 130px);
  cursor: crosshair;
}

#options {
  width: 130px;
  height: 100vh;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-left: 5px;
  padding-top: 10px;
  position: absolute;
  left: 55px;
  top: 0px;
  z-index: 1;
  background: #000000db;
  border-right: 1px solid #565656;
}

#options .optionText{
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



#otherOptions .optionText{
  text-align: left;
  margin-left: 8px;
  float: left;
  width: 75px;
}

.sliderDisplay{
  margin-bottom: 10px;
  font-size: 14px;
  width: 30px;
  float: left;
  text-align: right;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}



#penColors{
  width: 55px;
  height: 300px;
  float: left;
}

#bgColors{
  width: 55px;
  height: 300px;
  float: left;
  margin-left: 5px;
}

#otherOptions{
  width: 125px;
  float: left;
}

.penColorButton {
  width: 43px;
  height: 43px;
  border-radius: 25px;
  padding: 0px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  outline: 0;
  background: #cccccc;
  margin-left: 6px;
  margin-bottom: 8px;
}

.bgColorButton {
  width: 43px;
  height: 43px;
  padding: 0px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  outline: 0;
  background: #cccccc;
  margin-left: 6px;
  margin-bottom: 8px;
}

#penColor0 {
  background: linear-gradient(34deg, #73bfe5, #73bfe5, #e573e5, #e573e5);
}

#penColor1 {
  background: linear-gradient(34deg, #fe1fea, #fe1fea, #ffce19, #ffce19);
}

#penColor2 {
  background: linear-gradient(34deg, #c4e900, #c4e900, #19fff5, #19fff5);
}

#penColor3 {
  background: linear-gradient(34deg, #e90000 , #e90000, #2c19ff, #2c19ff);
}

#penColor4 {
  background: linear-gradient(34deg, #a000e9 , #a000e9, #ff1995, #ff1995);
}


#bgColor0{ background: #000000; }
#bgColor1{ background: #ffffff; }
#bgColor2{ background: #f9ccff; }
#bgColor3{ background: #ccedff; }
#bgColor4{ background: #fdffcc; }


.slidercontainer {
  width: 100px;
  margin-left: 5px;
  margin-bottom: 20px;
  float: left;

}



/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 105px;
  height: 3px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 10px;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.spinButton{
  width: 43px;
  height: 43px;
  padding: 0px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  outline: 0;
  background: #cccccc;
  margin-left: 6px;
  margin-bottom: 15px;
}

#spinClockWise{
  background-image: url("../images/rotate/clockwise.png");
}


#spinAntiClockWise{
  margin-left: 15px;
  background-image: url("../images/rotate/anticlockwise.png");
}

.buttonSelected{
  border: 2px solid #46c9f9;
}


.clearButton{
  font-family: MoonBold;
  font-size: 14px;
  width: 101px;
  height: 43px;
  padding: 0px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  outline: 0;
  background: #cccccc;
  margin-left: 6px;
  margin-bottom: 15px;
  cursor: pointer;
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
}



#divider{
    width: 101px;
    margin-left: 6px;
    float: left;
    height: 1px;
    background: #dddddd;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pairingButton{
  width: 101px;
  height: 43px;
  padding: 0px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  outline: 0;
  background: #cccccc;
  margin-left: 6px;
  margin-bottom: 8px;
  margin-top: 0px;
  cursor: pointer;

}

#optionDrawerTitle{
  width: 108px !important;
  margin-bottom: 20px !important;
  background-image: url('../images/rotate/drawerClosed.png');
  background-repeat: no-repeat;
  background-position: 90px 0px;
  cursor: pointer;
}

.drawerOpen{
  background-image: url('../images/rotate/drawerOpen.png') !important;
}

#optionDrawer{
  display: none;
}

@media (orientation: portrait) {
  #theToyContainer {
    width: 100%;
    height: calc(100% - 50px);
    margin-left: 0px;
    margin-top: 50px;
    overscroll-behavior-y: contain;
    cursor: crosshair;
  }

  canvas {
    overscroll-behavior-y: contain;
  }

  body {
    overscroll-behavior-y: contain;
  }
}
