#colorButtons{
  width: 115px;
  height: 100vh;
  border-right: 1px solid #000000;
  float: left;
  background: #f9f9f9;
  display: inline-block;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  padding-left: 10px;
  margin-left: 55px;
}

#backgroundColorButtons{
  width: 115px;
  height: 100vh;
  border-right: 1px solid #000000;
  float: left;
  background: #f9f9f9;
  display: inline-block;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  padding-left: 10px;
}

#otherButtons{
  width: 160px;
  height: 100vh;
  background: #f9f9f9;
  border-right: 1px solid #000000;
  float: left;
  display: inline-block;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#theToyContainer{
  width: calc(100vw - 445px);
  height: 100vh;
  background: #ffffff;
  display: inline-block;
  float: left;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#theToyContainer{
  text-align:center;
}

#colorButtons p{
  font-family: moonBold;
  font-size: 13px;
  color: #272727;
  margin: 10px 0px -2px 5px;
  float: left;
  width: 100%;
  letter-spacing: -0.5px;
}

#backgroundColorButtons p{
  font-family: moonBold;
  font-size: 13px;
  color: #272727;
  margin: 10px 0px -2px 5px;
  float: left;
  width: 100%;
  letter-spacing: -0.5px;
}

#otherButtons>p{
  font-family: moonBold;
  font-size: 13px;
  color: #272727;
  margin: 10px 0px 0px 15px;
  float: left;
  width: 100%;
  letter-spacing: -0.5px;
}

.colorButton{
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px 0px 0px 5px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  cursor: pointer;
}

.colorButton:hover{
  border: 2px solid #ffffff !important;
}

.bgColorButton{
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px 0px 0px 5px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  cursor: pointer;
}

.bgColorButton:hover{
  border: 2px solid #ffffff !important;
}

#color0{ background-color: #000000; }
#color2{ background-color: #f54b42; }
#color4{ background-color: #f79736; }
#color6{ background-color: #f7f300; }
#color8{ background-color: #6ec955; }
#color10{ background-color: #55bfc9; }
#color12{ background-color: #2641c7; }
#color14{ background-color: #500063; }
#color1{ background-color: #ffffff; }
#color3{ background-color: #d9367b; }
#color5{ background-color: #ff7777; }
#color7{ background-color: #ffcd77; }
#color9{ background-color: #aad888; }
#color11{ background-color: #44a8fc; }
#color13{ background-color: #191473; }
#color15{ background-color: #8f62bd; }

#color16{
  background: linear-gradient(90deg, rgba(255,61,61,1) 0%, rgba(255,173,58,1) 11%,
    rgba(220,255,55,1) 23%, rgba(71,255,115,1) 43%, rgba(70,254,255,1) 59%,
    rgba(67,65,255,1) 78%, rgba(255,65,239,1) 100%);
  width: 85px;
}

#color17{
  background: linear-gradient(90deg, rgba(120,240,255,1) 0%, rgba(19,62,242,1) 100%);
  width: 85px;
}

#color1:hover{
  border: 2px solid #cccccc !important;
}

#bgcolor1:hover{
  border: 2px solid #cccccc !important;
}

#bgcolor0{ background-color: #000000; }
#bgcolor1{ background-color: #ffffff; }
#bgcolor2{ background-color: #303030; }
#bgcolor3{ background-color: #a3a3a3; }
#bgcolor5{ background-color: #c7b4d0; }
#bgcolor4{ background-color: #3c1346; }
#bgcolor7{ background-color: #c3d1e9; }
#bgcolor6{ background-color: #16315c; }

#gradients{
  margin-top: 31px !important;
}

#bgcolor8{
  background: linear-gradient(90deg, rgba(6,190,182,1) 0%, rgba(35,120,131,1) 100%);
  width: 85px;
}

#bgcolor9{
  background:radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 100%);
  width: 85px;
}

#bgcolor10{
  background: linear-gradient(90deg, rgba(255,175,189,1) 0%, rgba(255,195,160,1) 100%);
  width: 85px;
}

#bgcolor11{
  background:linear-gradient(90deg, rgba(66,39,90,1) 0%, rgba(115,75,109,1) 100%);
  width: 85px;
}

#bgcolor12{
  background: linear-gradient(to bottom, #ff0084, #33001b);
  width: 85px;
}

#bgcolor13{
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 85px;
}

#bgcolor14{
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 85px;
}



.setting{
  float: left;
  display: block;
  margin-top: 16px;
}

.setting p{
  font-family: moonBold;
  font-size: 13px;
  color: #272727;
  margin: 8px 0px 3px 15px;
  float: left;
  width: 100%;
  letter-spacing: -0.5px;
}

.firstSetting{
  margin-top: 10px;
}

.firstSetting>p{
  margin-top: 0px !important;
}

.firstSettingAfterDivider{
  margin-top: 0px;
}

.upDownButton{
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  background: #dbdbdb;
  border-radius: 4px;
  float: left;
  margin-left: 15px;
  text-align: center;
  padding-top: 4px;
  padding-left: 2px;
  font-size: 30px;
  color: #000000;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  cursor: pointer;
}

.upDownButton:hover{
  background: #f1f1f1;
}


.settingDisplay{
  width: 38px;
  height: 40px;
  float: left;
  overflow: hidden;
  margin-left: 6px;
  margin-right: -9px;
  border: none;
  text-align: center;
  font-family: moonBold;
  font-size: 15px;
  color: #272727;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  cursor: text;
}


.settingDisplay:hover{
  border-bottom: 1px solid #7a7a7a;
  border-top: 1px solid #ffffff;
}


.settingDisplay:focus{
  border-bottom: 2px solid #7a7a7a;
  border-top: 2px solid #ffffff;
  outline-width: 0;
  cursor: text;
}


.longButton{
  width: 130px;
  height: 40px;
  border: 1px solid #000000;
  background: #dbdbdb;
  border-radius: 4px;
  float: left;
  margin-left: 15px;
  margin-top: 20px;
  text-align: center;
  padding-top: 11px;
  font-family: moonBold;
  font-size: 14px;
  color: #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.longButton:hover{
  background: #f1f1f1;
}

#otherButtons .divider{
  width: 130px;
  height: 1px;
  background: #000000;
  float: left;
  margin: 16px 15px 7px 15px;
}

#playButton{
  margin-top: 10px;
}

.utilButton{
  background: #efefef;
  margin-top: 10px;
}

.utilButton:hover{
  background: #f8f8f8;
}
