#colorButtons {
  width: 115px;
  height: 100vh;
  border-right: 1px solid #515151;
  float: left;
  background: #f9f9f9;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-left: 10px;
  margin-left: 55px;
  position: relative;
  overflow: hidden;
}

button {
  font-family: moonLight;
  padding: 0px;
}

button:focus {
  outline: 0;
}

.someButtons::-webkit-scrollbar {
  width: 8px;
}

.someButtons::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.someButtons::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

.someButtons {
  height: calc(100% - 35px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.otherButtonHolder {
  width: 160px;
}

#backgroundColorButtons {
  width: 115px;
  height: 100vh;
  border-right: 1px solid #515151;
  float: left;
  background: #f9f9f9;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-left: 10px;
  position: relative;
  overflow-x: hidden;
}

#otherButtons {
  width: 160px;
  height: 100vh;
  background: #f9f9f9;
  border-right: 1px solid #515151;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

#theToyContainer {
  width: calc(100vw - 445px);
  height: 100vh;
  background: #ffffff;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}

#colorButtons p {
  font-family: moonBold;
  font-size: 13px;
  color: #272727;
  margin: 10px 0px -2px 5px;
  float: left;
  width: 100%;
  letter-spacing: -0.5px;
}

#backgroundColorButtons p {
  font-family: moonBold;
  font-size: 13px;
  color: #272727;
  margin: 10px 0px -2px 5px;
  float: left;
  width: 100%;
  letter-spacing: -0.5px;
}

#otherButtons > p {
  font-family: moonBold;
  font-size: 13px;
  color: #272727;
  margin: 10px 0px 0px 15px;
  float: left;
  width: 100%;
  letter-spacing: -0.5px;
}

.colorButton {
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px 0px 0px 5px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}

.colorButton:hover {
  border: 2px solid #ffffff !important;
}

.bgColorButton {
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px 0px 0px 5px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}

.bgColorButton:hover {
  border: 2px solid #ffffff !important;
}

#color0 {
  background-color: #000000;
}

#color2 {
  background-color: #f54b42;
}

#color4 {
  background-color: #f79736;
}

#color6 {
  background-color: #f7f300;
}

#color8 {
  background-color: #6ec955;
}

#color10 {
  background-color: #55bfc9;
}

#color12 {
  background-color: #2641c7;
}

#color14 {
  background-color: #500063;
}

#color1 {
  background-color: #ffffff;
}

#color3 {
  background-color: #d9367b;
}

#color5 {
  background-color: #ff7777;
}

#color7 {
  background-color: #ffcd77;
}

#color9 {
  background-color: #aad888;
}

#color11 {
  background-color: #44a8fc;
}

#color13 {
  background-color: #191473;
}

#color15 {
  background-color: #8f62bd;
}

#color16 {
  background: linear-gradient(90deg, #ff3d3d 0%, #ffad3a 11%, #dcff37 23%, #47ff73 43%, #46feff 59%, #4341ff 78%, #ff41ef 100%);
  width: 85px;
}

#color17 {
  background: linear-gradient(90deg, #78f0ff 0%, #133ef2 100%);
  width: 85px;
}

#color18 {
  background: linear-gradient(90deg, #fbacf1 0%, #f6336c 100%);
  width: 85px;
}

#color1:hover {
  border: 2px solid #cccccc !important;
}

#bgcolor1:hover {
  border: 2px solid #cccccc !important;
}

#bgcolor0 {
  background-color: #000000;
}

#bgcolor1 {
  background-color: #ffffff;
}

#bgcolor2 {
  background-color: #303030;
}

#bgcolor3 {
  background-color: #a3a3a3;
}

#bgcolor5 {
  background-color: #c7b4d0;
}

#bgcolor4 {
  background-color: #3c1346;
}

#bgcolor7 {
  background-color: #c3d1e9;
}

#bgcolor6 {
  background-color: #16315c;
}

#gradients {
  margin-top: 31px !important;
}

#bgcolor8 {
  background: linear-gradient(90deg, #06beb6 0%, #237883 100%);
  width: 85px;
}

#bgcolor9 {
  background: radial-gradient(circle, #444444 0%, black 100%);
  width: 85px;
}

#bgcolor10 {
  background: linear-gradient(90deg, #ffafbd 0%, #ffc3a0 100%);
  width: 85px;
}

#bgcolor11 {
  background: linear-gradient(90deg, #42275a 0%, #734b6d 100%);
  width: 85px;
}

#bgcolor12 {
  background: linear-gradient(to bottom, #ff0084, #33001b);
  width: 85px;
}

#bgcolor13 {
  background: #feac5e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 85px;
}

#bgcolor14 {
  background: #43cea2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 85px;
}

.setting {
  float: left;
  display: block;
  margin-top: 16px;
}

.setting p {
  font-family: moonBold;
  font-size: 13px;
  color: #272727;
  margin: 8px 0px 3px 15px;
  float: left;
  width: 100%;
  letter-spacing: -0.5px;
}

.firstSetting {
  margin-top: 10px;
}

.firstSetting > p {
  margin-top: 0px !important;
}

.firstSettingAfterDivider {
  margin-top: 0px;
}

.upDownButton {
  width: 40px;
  height: 40px;
  border: 0px solid #000000;
  background: #3887c4 url("../images/minus.png");
  border-radius: 4px;
  float: left;
  margin-left: 15px;
  text-align: center;
  padding-top: 4px;
  padding-left: 2px;
  font-size: 30px;
  color: #000000;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  cursor: pointer;
}

.upButton {
  background-image: url("../images/plus.png");
}

.upDownButton:hover {
  background-color: #86bbd8;
}

.settingDisplay {
  width: 38px;
  height: 40px;
  float: left;
  overflow: hidden;
  margin-left: 6px;
  margin-right: -9px;
  border: none;
  text-align: center;
  font-family: moonBold;
  font-size: 15px;
  color: #272727;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  cursor: text;
}

.displayMobile {
  display: none;
}

.settingDisplay:hover {
  border-bottom: 1px solid #7a7a7a;
  border-top: 1px solid #ffffff;
}

.settingDisplay:focus {
  border-bottom: 2px solid #7a7a7a;
  border-top: 2px solid #ffffff;
  outline-width: 0;
  cursor: text;
}

.longButton {
  width: 130px;
  height: 40px;
  border: 0px solid #000000;
  background: #503f87;
  border-radius: 4px;
  float: left;
  margin-left: 15px;
  margin-top: 20px;
  text-align: center;
  font-family: moonBold;
  font-size: 14px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.longButton:hover {
  background: #65006b;
}

#otherButtons .divider {
  width: 130px;
  height: 1px;
  background: #000000;
  float: left;
  margin: 16px 15px 7px 15px;
}

#playButton {
  margin-top: 10px;
}

.utilButton {
  background: #515151;
  margin-top: 10px;
}

.utilButton:hover {
  background: #818181;
}

.closer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 70px;
  height: 30px;
  color: #000000;
  padding: 5px;
  text-align: center;
  background: #dbdbdb;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}

.closerMobile {
  display: none;
}

.opener {
  width: 100vh;
  height: 35px;
  background: rgba(0, 0, 0, 0);
  transform-origin: top left;
  -ms-transform: rotate(-90deg);
  transform: rotate(90deg);
  color: #dddddd;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 35px;
  display: none;
  padding-top: 8px;
  letter-spacing: 1px;
  cursor: pointer;
}

@media (max-width: 500px) {
  #everything {
    height: 100%;
  }

  #theToyContainer {
    width: 100%;
    margin-top: 50px;
    height: calc(100% - 170px);
  }

  #colorButtons {
    width: 100%;
    height: 50px;
    margin: 0px;
    position: fixed;
    left: 0;
    bottom: 170;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 5px solid #f9f9f9;
    border-bottom: 1px solid #515151;
    border-top: 1px solid #515151;
  }

  #colorButtons p {
    display: inline-block;
    float: left;
    width: 40px;
    margin: 0px;
    padding: 15px 0px 0px 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  #penColorScrollerOuter {
    margin-left: 40px;
    width: calc(100% - 40px);
    height: 50px;
    overflow-x: scroll;
  }

  #penColorScrollerInner {
    width: 1000px;
    float: left;
    display: inline-block;
  }

  #bgColorScrollerOuter {
    margin-left: 40px;
    width: calc(100% - 40px);
    height: 50px;
    overflow-x: scroll;
  }

  #bgColorScrollerInner {
    width: 1000px;
    float: left;
    display: inline-block;
  }

  .someButtons {
    margin-top: 0px;
    width: 100%;
    height: 50px;
    overflow-y: hidden;
    overflow-y: hidden;
  }

  #backgroundColorButtons {
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 120;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 5px solid #f9f9f9;
  }

  #backgroundColorButtons p {
    display: inline-block;
    float: left;
    width: 40px;
    margin: 0px;
    padding: 15px 0px 0px 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  #otherButtons {
    width: 100%;
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0;
    overflow: visible;
    border-width: 0px;
  }

  .otherButtonHolder {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
  }

  .setting {
    width: 25%;
    height: 60px;
    margin: 0px;
    padding-left: 8px;
    padding-top: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ffffff;
    background: #3887c4;
    border-radius: 0px;
  }

  .setting p {
    margin-left: 0px;
    margin-top: 0px;
    font-size: 12px;
    color: #ffffff;
  }

  .upDownButtonHolder {
    display: none;
    float: left;
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 100%;
    height: 99px;
    background: #ffffffe3;
  }

  .upDownButton {
    width: 80px;
    height: 80;
    margin-top: 8px;
    margin-left: calc((100% - 180px) / 2);
    border-radius: 10px;
    border-width: 0px;
    font-size: 55px;
    padding-top: 0;
    padding-left: 4px;
    color: #1b2d54;
    background: #3887c4 url(../images/minus.png) no-repeat center center;
  }

  .upButton {
    margin-left: 20px;
    background: #3887c4 url("../images/plus.png") no-repeat center center;
  }

  .upDownButton:hover {
    background-color: #3887c4;
  }

  #randomizeButton {
    width: 25%;
    height: 60px;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ffffff;
    background: #65006b;
    color: #ffffff;
    border-radius: 0px;
  }

  .settingDisplay {
    display: none;
  }

  .displayMobile {
    font-family: moonBold;
    text-align: left;
    color: #ffffff;
    padding: 3px 0px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 30px;
    float: left;
    display: inline-block;
  }

  .divider {
    display: none;
  }

  .utilButton, #playButton {
    width: 25%;
    border: solid 1px #ffffff;
    border-radius: 0px;
    float: left;
    display: inline-block;
    background: #dddddd;
    color: #515151;
    height: 60px;
    margin: 0px;
  }

  .closer {
    display: none;
  }

  .deSelected {
    background: #525252 !important;
    border: 1px solid #6d6d6d !important;
    color: #272727 !important;
  }

  .selected {
    background: #86bbd8 !important;
  }

  .clicker {
    width: 25%;
    height: 60px;
    position: absolute;
    z-index: 10;
  }

  #penSizeClick {
    left: 0px;
    bottom: 60px;
  }

  #outerSizeClick {
    left: 25%;
    bottom: 60px;
  }

  #innerSizeClick {
    left: 50%;
    bottom: 60px;
  }

  #speedClick {
    left: 0px;
    bottom: 0px;
  }
}

/*# sourceMappingURL=spirograph.css.map */
