body {
  background: #150024;
  background: linear-gradient(180deg, #16184f 0%, #320440 61%, #530131 100%);
  color: #ffffff;
  font-family: moonLight;
  margin: 0px;
}

#everything {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

@font-face {
  font-family: moonLight;
  src: url("../fonts/Moon Light.otf");
}
@font-face {
  font-family: moonBold;
  src: url("../fonts/Moon Bold.otf");
}
#menu {
  width: 55px;
  height: 100vh;
  background: #1b0522;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-right: 1px solid #5f5f5f;
  overflow-x: hidden;
}

.menuButton {
  margin: 15px 6px 0px 4px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: inline-block;
  float: left;
}

.menuButtonMobile {
  display: none;
}

.menuButtonClosed {
  background: url("../images/hamburger.png");
}

.menuButtonOpen {
  background-image: url("../images/close.png");
  display: none;
}

.menuOpen {
  width: 80% !important;
  max-width: 900px;
}

.fullScreenButton {
  display: none;
}

#menuContents {
  width: 80vw;
  margin-left: 90px;
  margin-top: 25px;
}

#nav {
  display: inline-block;
  float: left;
}

#nav a {
  color: #ffffff;
  margin-right: 30px;
  font-family: MoonLight;
  text-decoration: none;
  font-size: 25px;
}

#nav a.selected {
  text-decoration: underline;
}

#toymenu {
  float: left;
  clear: both;
  display: inline-block;
}

.toyMenuHeader {
  margin: 20px 0px 10px;
  font-size: 15px;
  color: #bcbcbc;
}

.toyLink {
  border: 1px solid #ffffff;
  float: left;
}

#homepage {
  position: absolute;
  top: 0;
  left: 65;
  z-index: 1;
  width: calc(100% - 65px);
}

#content {
  position: absolute;
  top: 0;
  left: 55;
  z-index: 1;
  width: calc(100% - 55px);
}

/*
*
* Home page
*
*/
#homepage > .definition {
  position: absolute;
  left: 10%;
  top: 35vh;
  width: 70%;
}

#homepage > .definition > h1 {
  font-size: 45px;
  margin: 10px 0px 0px 0px;
}

#homepage > .definition > .pronunciation {
  font-size: 15px;
  font-style: italic;
  margin: 0px;
  padding: 0px;
  color: #bcbcbc;
}

#homepage > .definition > .theDefinition {
  font-size: 20px;
  margin: 0px;
  padding: 8px 0px 30px;
  color: #ffffff;
}

#homepage > .definition > .playLink {
  border: 2px solid #ffffff;
  margin: 40px 0px 0px 0px;
  padding: 10px 30px;
  color: #ffffff;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*
*
* Illustration
*
*/
@keyframes twinkle {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
.stars {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.stars .star {
  border-radius: 50%;
  background-color: #b9befa;
  animation: twinkle 5s linear infinite;
}
.stars .star:nth-of-type(1) {
  width: 1;
  height: 1;
  top: 15vh;
  left: 24vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(2) {
  width: 2;
  height: 2;
  top: 67vh;
  left: 64vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(3) {
  width: 3;
  height: 3;
  top: 36vh;
  left: 64vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(4) {
  width: 2;
  height: 2;
  top: 42vh;
  left: 79vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(5) {
  width: 3;
  height: 3;
  top: 41vh;
  left: 76vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(6) {
  width: 1;
  height: 1;
  top: 93vh;
  left: 11vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(7) {
  width: 1;
  height: 1;
  top: 48vh;
  left: 32vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(8) {
  width: 2;
  height: 2;
  top: 79vh;
  left: 29vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(9) {
  width: 2;
  height: 2;
  top: 54vh;
  left: 83vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(10) {
  width: 1;
  height: 1;
  top: 56vh;
  left: 19vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(11) {
  width: 1;
  height: 1;
  top: 5vh;
  left: 78vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(12) {
  width: 1;
  height: 1;
  top: 69vh;
  left: 43vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(13) {
  width: 1;
  height: 1;
  top: 7vh;
  left: 85vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(14) {
  width: 1;
  height: 1;
  top: 22vh;
  left: 82vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(15) {
  width: 3;
  height: 3;
  top: 97vh;
  left: 5vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(16) {
  width: 2;
  height: 2;
  top: 37vh;
  left: 23vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(17) {
  width: 1;
  height: 1;
  top: 51vh;
  left: 27vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(18) {
  width: 1;
  height: 1;
  top: 76vh;
  left: 57vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(19) {
  width: 1;
  height: 1;
  top: 40vh;
  left: 21vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(20) {
  width: 3;
  height: 3;
  top: 90vh;
  left: 86vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(21) {
  width: 3;
  height: 3;
  top: 43vh;
  left: 80vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(22) {
  width: 2;
  height: 2;
  top: 1vh;
  left: 12vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(23) {
  width: 1;
  height: 1;
  top: 4vh;
  left: 57vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(24) {
  width: 3;
  height: 3;
  top: 43vh;
  left: 69vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(25) {
  width: 2;
  height: 2;
  top: 9vh;
  left: 10vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(26) {
  width: 1;
  height: 1;
  top: 95vh;
  left: 83vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(27) {
  width: 2;
  height: 2;
  top: 48vh;
  left: 81vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(28) {
  width: 2;
  height: 2;
  top: 65vh;
  left: 58vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(29) {
  width: 3;
  height: 3;
  top: 80vh;
  left: 4vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(30) {
  width: 1;
  height: 1;
  top: 50vh;
  left: 79vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(31) {
  width: 2;
  height: 2;
  top: 28vh;
  left: 46vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(32) {
  width: 2;
  height: 2;
  top: 66vh;
  left: 38vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(33) {
  width: 1;
  height: 1;
  top: 95vh;
  left: 58vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(34) {
  width: 2;
  height: 2;
  top: 61vh;
  left: 13vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(35) {
  width: 1;
  height: 1;
  top: 28vh;
  left: 4vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(36) {
  width: 2;
  height: 2;
  top: 89vh;
  left: 60vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(37) {
  width: 1;
  height: 1;
  top: 20vh;
  left: 58vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(38) {
  width: 3;
  height: 3;
  top: 42vh;
  left: 86vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(39) {
  width: 3;
  height: 3;
  top: 74vh;
  left: 94vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(40) {
  width: 1;
  height: 1;
  top: 83vh;
  left: 67vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(41) {
  width: 3;
  height: 3;
  top: 24vh;
  left: 17vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(42) {
  width: 2;
  height: 2;
  top: 93vh;
  left: 99vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(43) {
  width: 3;
  height: 3;
  top: 100vh;
  left: 69vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(44) {
  width: 3;
  height: 3;
  top: 27vh;
  left: 7vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(45) {
  width: 1;
  height: 1;
  top: 36vh;
  left: 72vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(46) {
  width: 3;
  height: 3;
  top: 19vh;
  left: 25vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(47) {
  width: 3;
  height: 3;
  top: 38vh;
  left: 4vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(48) {
  width: 2;
  height: 2;
  top: 42vh;
  left: 14vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(49) {
  width: 2;
  height: 2;
  top: 14vh;
  left: 41vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(50) {
  width: 2;
  height: 2;
  top: 80vh;
  left: 60vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(51) {
  width: 2;
  height: 2;
  top: 18vh;
  left: 51vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(52) {
  width: 2;
  height: 2;
  top: 27vh;
  left: 55vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(53) {
  width: 3;
  height: 3;
  top: 54vh;
  left: 43vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(54) {
  width: 3;
  height: 3;
  top: 47vh;
  left: 28vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(55) {
  width: 3;
  height: 3;
  top: 23vh;
  left: 40vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(56) {
  width: 2;
  height: 2;
  top: 95vh;
  left: 54vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(57) {
  width: 1;
  height: 1;
  top: 15vh;
  left: 59vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(58) {
  width: 2;
  height: 2;
  top: 82vh;
  left: 99vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(59) {
  width: 1;
  height: 1;
  top: 23vh;
  left: 77vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(60) {
  width: 2;
  height: 2;
  top: 5vh;
  left: 94vw;
  animation-delay: 3s;
  position: absolute;
}

.shootingstar {
  -ms-transform: rotate(200deg);
  /* IE 9 */
  transform: rotate(200deg);
  /* Standard syntax */
  position: absolute;
  left: 500;
  top: 500;
  z-index: 2;
  opacity: 0.2;
  background: white;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 80%);
  width: 200px;
  height: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.shootingstar2 {
  -ms-transform: rotate(200deg);
  /* IE 9 */
  transform: rotate(200deg);
  /* Standard syntax */
  position: absolute;
  left: 500;
  top: 500;
  z-index: 2;
  opacity: 0.2;
  background: white;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 80%);
  width: 200px;
  height: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.clouds {
  left: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0.5;
}
.clouds .cloud:nth-of-type(1) {
  width: 500px;
  height: 500px;
  background: #110224;
  -webkit-border-radius: 250px !important;
  -moz-border-radius: 250px !important;
  border-radius: 250px !important;
  position: absolute;
  left: -5;
  bottom: -146;
}
.clouds .cloud:nth-of-type(2) {
  width: 700px;
  height: 700px;
  background: #110224;
  -webkit-border-radius: 350px !important;
  -moz-border-radius: 350px !important;
  border-radius: 350px !important;
  position: absolute;
  left: 305;
  bottom: -206;
}
.clouds .cloud:nth-of-type(3) {
  width: 400px;
  height: 400px;
  background: #110224;
  -webkit-border-radius: 200px !important;
  -moz-border-radius: 200px !important;
  border-radius: 200px !important;
  position: absolute;
  left: 895;
  bottom: -206;
}
.clouds .cloud:nth-of-type(4) {
  width: 800px;
  height: 800px;
  background: #110224;
  -webkit-border-radius: 400px !important;
  -moz-border-radius: 400px !important;
  border-radius: 400px !important;
  position: absolute;
  right: -465;
  bottom: -206;
}
.clouds .cloud:nth-of-type(5) {
  width: 300px;
  height: 300px;
  background: #110224;
  -webkit-border-radius: 150px !important;
  -moz-border-radius: 150px !important;
  border-radius: 150px !important;
  position: absolute;
  right: 128;
  bottom: -184;
}
.clouds .cloud:nth-of-type(6) {
  width: 400px;
  height: 400px;
  background: #1f3237;
  -webkit-border-radius: 200px !important;
  -moz-border-radius: 200px !important;
  border-radius: 200px !important;
  position: absolute;
  left: -50;
  bottom: -150;
}
.clouds .cloud:nth-of-type(7) {
  width: 300px;
  height: 300px;
  background: #1f3237;
  -webkit-border-radius: 150px !important;
  -moz-border-radius: 150px !important;
  border-radius: 150px !important;
  position: absolute;
  left: 300;
  bottom: -150;
}

@media (orientation: portrait) {
  #menu {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #5f5f5f;
  }

  .menuButtonMobile {
    margin: 5px 10px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: inline-block;
  }

  .menuButton {
    display: none;
  }

  .menuButtonClosedMobile {
    background: url("../images/hamburger.png");
  }

  .menuButtonOpenMobile {
    background-image: url("../images/close.png");
    display: none;
  }

  .fullScreenButton {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
  }

  .fullScreenButtonOpen {
    background-image: url("../images/gobig.png");
  }

  .fullScreenButtonClose {
    background-image: url("../images/gohome.png");
    display: none;
  }

  #nav {
    position: absolute;
    top: 80;
    left: 0;
    width: 100%;
  }

  #nav a {
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    display: block;
  }

  #toymenu {
    position: absolute;
    top: 300;
  }

  #content {
    position: absolute;
    top: 55;
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(100% - 55px);
  }

  #homepage {
    width: 100%;
    left: 0px;
  }

  #homepage > .definition {
    width: 80%;
    top: 20vh;
  }
}

/*# sourceMappingURL=style.css.map */
