body {
  background: rgb(21,0,36);
  background: linear-gradient(180deg, #16184f 0%, rgba(50,4,64,1) 61%, rgba(83,1,49,1) 100%);
  color: #ffffff;
  font-family: moonLight;
  //overflow: hidden;
  margin: 0px
}

#everything{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

$light: #b9befa;
$darkPurple: #65006b;
$lightPurple: rgba(80, 63, 135, 1);
$darkBlue: #3887c4;
$lightBlue: #86bbd8;
$pink: #e80077;

@mixin leftcircle($width, $color, $left, $bottom) {
  width: $width+px;
  height: $width+px;
  background: $color;
  -webkit-border-radius: $width/2+px !important;
     -moz-border-radius: $width/2+px !important;
          border-radius: $width/2+px !important;
  position: absolute;
  left: $left;
  bottom: $bottom;
}

@mixin rightcircle($width, $color, $right, $bottom) {
  width: $width+px;
  height: $width+px;
  background: $color;
  -webkit-border-radius: $width/2+px !important;
     -moz-border-radius: $width/2+px !important;
          border-radius: $width/2+px !important;
  position: absolute;
  right: $right;
  bottom: $bottom;
}


@font-face {
  font-family: moonLight;
  src: url("../fonts/Moon Light.otf");
}

@font-face {
  font-family: moonBold;
  src: url("../fonts/Moon Bold.otf");
}

@font-face {
  font-family: robotoRegular;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: robotoBold;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: robotoLight;
  src: url("../fonts/Roboto-Light.ttf");
}

#menu{
  width: 150px;
  height: 100vh;
  background: #00000069;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-right: 1px solid #5f5f5f;
  overflow:hidden;
}


#bimbleLogo{
  width: 80px;
  height: 85px;
  background: url(../images/bimblespace.png);
  background-size: 45px;
  background-repeat: no-repeat;
  margin: 20px 0px 0px 20px;
  padding-top: 38px;
  float: left;
  font-size: 27px;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
}

.menuButton{
  margin: 15px 6px 0px 4px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: none;
  float: left;
}

.menuButtonMobile{
  display: none;
}

.menuButtonClosed{
  background: url("../images/hamburger.png");
}

.menuButtonOpen{
  background-image: url("../images/close.png");
  display: none;
}

.menuOpen{
  width: 80% !important;
  max-width: 900px;
}

.fullScreenButton{
  display: none;
}


#menuContents{
  width: 140px;
  margin-left: 20px;
  margin-top: 40px;
  float: left;
}

#nav{
  width: 140px;
  display: inline-block;
  float: left;
}

#nav a{
  color: #c1c1c1;
  margin-right: 30px;
  margin-top: 20px;
  font-family: moonLight;
  text-decoration: none;
  font-size: 18px;
  float: left;
}

#nav a.selected{
  font-family: moonBold;
}

#homepage{
  position: absolute;
  top: 0;
  left: 65;
  z-index: 1;
  width: calc(100% - 65px);
}

#content{
  position: absolute;
  top: 0;
  left: 55;
  z-index: 1;
  width: calc(100% - 55px);
}

/*
*
* Home page
*
*/



#homepage > .definition{
  position: fixed;
  left: 250px;
  top: 140px;
  width: 60%;
  max-width: 600px;
  text-align: left;
  background: #00000030;
  padding: 40px 40px 55px 40px;
}

#homepage > .definition > h1 {
  font-size: 30px;
  margin: 10px 0px 0px 0px;
  color: #e8e8e8;
}

#homepage > .definition > .pronunciation{
  font-size: 15px;
  font-style: italic;
  margin:0px;
  padding: 0px;
  color:#907792;
}

#homepage > .definition > .theDefinition{
  font-size: 20px;
  margin:0px;
  padding: 8px 0px 30px;
  color: #c5c5c5;
}

#homepage > .definition > .playLink{
  //border: 2px solid #a3839f;
  margin: 40px 0px 0px 0px;
  padding: 10px 30px;
  color: #a20087;
  font-family: moonBold;
  background: #ffffffdb;
  text-decoration: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;

}

#homepage > .definition > .playLink:hover{
  background: #ffffff;
}

/*
*
* Illustration
*
*/

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.stars {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    .star {
        border-radius: 50%;
        background-color: $light;
        animation: twinkle 5s linear infinite;
    }
    @for $i from 1 through (60) {
        $size: random(3);
        $top: random(100)+vh;
        $left: random(100)+vw;
        .star:nth-of-type(#{$i}) {
            width: $size;
            height: $size;
            top: $top;
            left: $left;
            animation-delay: random(5) + s;
            position: absolute;
        }
    }
}

.shootingstar{
  -ms-transform: rotate(200deg); /* IE 9 */
  transform: rotate(200deg); /* Standard syntax */
  position: absolute;
  left: 500;
  top: 500;
  z-index: 2;
  opacity: 0.2;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
  width: 200px;
  height: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.shootingstar2{
  -ms-transform: rotate(200deg); /* IE 9 */
  transform: rotate(200deg); /* Standard syntax */
  position: absolute;
  left: 500;
  top: 500;
  z-index: 2;
  opacity: 0.2;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
  width: 200px;
  height: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.clouds {
  left: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0.5;

  .cloud:nth-of-type(1) { @include leftcircle(500, #110224, -5, -146); }
  .cloud:nth-of-type(2) { @include leftcircle(700, #110224, 305, -206); }
  .cloud:nth-of-type(3) { @include leftcircle(400, #110224, 895, -206); }
  .cloud:nth-of-type(4) { @include rightcircle(800, #110224, -465, -206); }
  .cloud:nth-of-type(5) { @include rightcircle(300, #110224, 128, -184); }

  .cloud:nth-of-type(6) { @include leftcircle(400, #1f3237, -50, -150); }
  .cloud:nth-of-type(7) { @include leftcircle(300, #1f3237, 300, -150); }

}


// Mobile

@media (orientation: portrait) {
  #menu{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #5f5f5f;
    background: #0c0619d9;
  }

  .menuButtonMobile{
    margin: 2px 5px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: inline-block;
    float: left;
  }

  .menuButton{
    display: none;
  }

  .menuButtonClosedMobile{
    background: url("../images/hamburger.png");
  }

  .menuButtonOpenMobile{
    background-image: url("../images/close.png");
    display: none;
  }

  .fullScreenButton{
    float: right;
    margin-right: 10px;
    margin-top: 2px;
    width: 40px;
    height: 40px;
    display: inline-block;
  }

  .fullScreenButtonOpen{
    background-image: url("../images/gobig.png");
  }

  .fullScreenButtonClose{
    background-image: url("../images/gohome.png");
    display: none;
  }

  #nav{
    position: absolute;
    top: 80;
    left: 0;
    width: 100%;
  }

  #nav a{
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    display:block;
    font-size: 25px;
  }

  #toymenu{
    position: absolute;
    top: 300;
  }

  #content{
    position: absolute;
    top: 55;
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(100% - 50px);
  }

  #homepage{
    width: 100%;
    left: 0px;
  }

  #homepage > .definition{
    width: 90%;
    top: 20%;
    left: 5%;
    padding: 30px 30px 50px 30px;
    text-align: left;
    color: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  #homepage > .definition > h1{
    color: #c1c1c1;
    font-size: 25px;
  }

  #homepage > .definition > .theDefinition{
    color: #c1c1c1;
    font-size: 17px;
  }

  #bimbleLogo{
    padding-top: 5px;
    padding-left: 49px;
    margin-top: 6px;
    margin-left: calc((100% - 230px) / 2);
    width: 110px;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    height: 55px;
    line-height: 15px;
  }


}
