body {
  background: #150024;
  background: linear-gradient(180deg, #150024 0%, #320440 61%, #530131 100%);
  color: #ffffff;
  font-family: moonLight;
  overflow: hidden;
  margin: 0px;
}

html, body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: moonLight;
  src: url("../fonts/Moon Light.otf");
}
@font-face {
  font-family: moonBold;
  src: url("../fonts/Moon Bold.otf");
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
#menu {
  width: 55px;
  height: 100%;
  background: #1b0522;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-right: 1px solid #5f5f5f;
  overflow-x: hidden;
}

.menuButton {
  margin: 15px 5px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.menuButtonClosed {
  background: url("../images/hamburger.png");
}

.menuButtonOpen {
  background-image: url("../images/close.png");
  display: none;
}

.menuOpen {
  width: 80% !important;
  max-width: 900px;
}

#nav {
  position: absolute;
  top: 25;
  left: 80;
}

#nav a {
  color: #ffffff;
  margin-right: 30px;
  font-family: MoonLight;
  text-decoration: none;
  font-size: 25px;
}

#nav a.selected {
  text-decoration: underline;
}

#toymenu {
  position: absolute;
  top: 80;
  left: 80;
}

.toyMenuHeader {
  margin: 20px 0px 10px;
  font-size: 15px;
  color: #bcbcbc;
}

#content {
  position: absolute;
  top: 0;
  left: 80;
  z-index: 1;
}

/*
*
* Home page
*
*/
#homepage > .definition {
  position: absolute;
  left: 100px;
  top: 35vh;
  width: 800px;
}

#homepage > .definition > h1 {
  font-size: 45px;
  margin: 10px 0px 0px 0px;
}

#homepage > .definition > .pronunciation {
  font-size: 15px;
  font-style: italic;
  margin: 0px;
  padding: 0px;
  color: #bcbcbc;
}

#homepage > .definition > .theDefinition {
  font-size: 20px;
  margin: 0px;
  padding: 8px 0px 30px;
  color: #ffffff;
}

#homepage > .definition > .playLink {
  border: 2px solid #ffffff;
  margin: 40px 0px 0px 0px;
  padding: 10px 30px;
  color: #ffffff;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*
*
* Illustration
*
*/
@keyframes twinkle {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
.stars {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.stars .star {
  border-radius: 50%;
  background-color: #b9befa;
  animation: twinkle 5s linear infinite;
}
.stars .star:nth-of-type(1) {
  width: 3;
  height: 3;
  top: 55vh;
  left: 58vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(2) {
  width: 2;
  height: 2;
  top: 7vh;
  left: 50vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(3) {
  width: 3;
  height: 3;
  top: 88vh;
  left: 72vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(4) {
  width: 3;
  height: 3;
  top: 97vh;
  left: 73vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(5) {
  width: 2;
  height: 2;
  top: 45vh;
  left: 91vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(6) {
  width: 3;
  height: 3;
  top: 79vh;
  left: 1vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(7) {
  width: 2;
  height: 2;
  top: 19vh;
  left: 30vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(8) {
  width: 1;
  height: 1;
  top: 80vh;
  left: 97vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(9) {
  width: 3;
  height: 3;
  top: 96vh;
  left: 57vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(10) {
  width: 1;
  height: 1;
  top: 16vh;
  left: 73vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(11) {
  width: 3;
  height: 3;
  top: 22vh;
  left: 23vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(12) {
  width: 1;
  height: 1;
  top: 61vh;
  left: 8vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(13) {
  width: 3;
  height: 3;
  top: 8vh;
  left: 64vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(14) {
  width: 3;
  height: 3;
  top: 54vh;
  left: 54vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(15) {
  width: 2;
  height: 2;
  top: 95vh;
  left: 46vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(16) {
  width: 1;
  height: 1;
  top: 66vh;
  left: 43vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(17) {
  width: 1;
  height: 1;
  top: 79vh;
  left: 74vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(18) {
  width: 2;
  height: 2;
  top: 34vh;
  left: 45vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(19) {
  width: 3;
  height: 3;
  top: 19vh;
  left: 30vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(20) {
  width: 3;
  height: 3;
  top: 15vh;
  left: 74vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(21) {
  width: 3;
  height: 3;
  top: 86vh;
  left: 66vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(22) {
  width: 2;
  height: 2;
  top: 65vh;
  left: 63vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(23) {
  width: 2;
  height: 2;
  top: 82vh;
  left: 15vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(24) {
  width: 2;
  height: 2;
  top: 77vh;
  left: 4vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(25) {
  width: 3;
  height: 3;
  top: 42vh;
  left: 74vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(26) {
  width: 1;
  height: 1;
  top: 35vh;
  left: 67vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(27) {
  width: 1;
  height: 1;
  top: 85vh;
  left: 9vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(28) {
  width: 1;
  height: 1;
  top: 81vh;
  left: 21vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(29) {
  width: 3;
  height: 3;
  top: 40vh;
  left: 50vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(30) {
  width: 2;
  height: 2;
  top: 96vh;
  left: 47vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(31) {
  width: 1;
  height: 1;
  top: 62vh;
  left: 72vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(32) {
  width: 3;
  height: 3;
  top: 24vh;
  left: 80vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(33) {
  width: 3;
  height: 3;
  top: 75vh;
  left: 70vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(34) {
  width: 2;
  height: 2;
  top: 40vh;
  left: 1vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(35) {
  width: 2;
  height: 2;
  top: 61vh;
  left: 21vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(36) {
  width: 1;
  height: 1;
  top: 34vh;
  left: 63vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(37) {
  width: 2;
  height: 2;
  top: 14vh;
  left: 16vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(38) {
  width: 2;
  height: 2;
  top: 68vh;
  left: 96vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(39) {
  width: 1;
  height: 1;
  top: 53vh;
  left: 81vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(40) {
  width: 2;
  height: 2;
  top: 59vh;
  left: 92vw;
  animation-delay: 1s;
  position: absolute;
}
.stars .star:nth-of-type(41) {
  width: 1;
  height: 1;
  top: 14vh;
  left: 27vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(42) {
  width: 3;
  height: 3;
  top: 14vh;
  left: 19vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(43) {
  width: 3;
  height: 3;
  top: 17vh;
  left: 65vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(44) {
  width: 2;
  height: 2;
  top: 82vh;
  left: 65vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(45) {
  width: 3;
  height: 3;
  top: 15vh;
  left: 32vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(46) {
  width: 1;
  height: 1;
  top: 65vh;
  left: 44vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(47) {
  width: 3;
  height: 3;
  top: 61vh;
  left: 39vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(48) {
  width: 1;
  height: 1;
  top: 100vh;
  left: 97vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(49) {
  width: 3;
  height: 3;
  top: 100vh;
  left: 47vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(50) {
  width: 2;
  height: 2;
  top: 94vh;
  left: 58vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(51) {
  width: 3;
  height: 3;
  top: 24vh;
  left: 20vw;
  animation-delay: 5s;
  position: absolute;
}
.stars .star:nth-of-type(52) {
  width: 3;
  height: 3;
  top: 29vh;
  left: 89vw;
  animation-delay: 2s;
  position: absolute;
}
.stars .star:nth-of-type(53) {
  width: 1;
  height: 1;
  top: 45vh;
  left: 78vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(54) {
  width: 2;
  height: 2;
  top: 46vh;
  left: 42vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(55) {
  width: 3;
  height: 3;
  top: 24vh;
  left: 51vw;
  animation-delay: 3s;
  position: absolute;
}
.stars .star:nth-of-type(56) {
  width: 3;
  height: 3;
  top: 85vh;
  left: 89vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(57) {
  width: 2;
  height: 2;
  top: 45vh;
  left: 92vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(58) {
  width: 2;
  height: 2;
  top: 69vh;
  left: 98vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(59) {
  width: 2;
  height: 2;
  top: 93vh;
  left: 17vw;
  animation-delay: 4s;
  position: absolute;
}
.stars .star:nth-of-type(60) {
  width: 1;
  height: 1;
  top: 24vh;
  left: 59vw;
  animation-delay: 4s;
  position: absolute;
}

.shootingstar {
  -ms-transform: rotate(200deg);
  /* IE 9 */
  transform: rotate(200deg);
  /* Standard syntax */
  position: absolute;
  left: 500;
  top: 500;
  z-index: 2;
  opacity: 0.2;
  background: white;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 80%);
  width: 200px;
  height: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.shootingstar2 {
  -ms-transform: rotate(200deg);
  /* IE 9 */
  transform: rotate(200deg);
  /* Standard syntax */
  position: absolute;
  left: 500;
  top: 500;
  z-index: 2;
  opacity: 0.2;
  background: white;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 80%);
  width: 200px;
  height: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.clouds {
  left: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0.5;
}
.clouds .cloud:nth-of-type(1) {
  width: 500px;
  height: 500px;
  background: #110224;
  -webkit-border-radius: 250px !important;
  -moz-border-radius: 250px !important;
  border-radius: 250px !important;
  position: absolute;
  left: -5;
  bottom: -146;
}
.clouds .cloud:nth-of-type(2) {
  width: 700px;
  height: 700px;
  background: #110224;
  -webkit-border-radius: 350px !important;
  -moz-border-radius: 350px !important;
  border-radius: 350px !important;
  position: absolute;
  left: 305;
  bottom: -206;
}
.clouds .cloud:nth-of-type(3) {
  width: 400px;
  height: 400px;
  background: #110224;
  -webkit-border-radius: 200px !important;
  -moz-border-radius: 200px !important;
  border-radius: 200px !important;
  position: absolute;
  left: 895;
  bottom: -206;
}
.clouds .cloud:nth-of-type(4) {
  width: 800px;
  height: 800px;
  background: #110224;
  -webkit-border-radius: 400px !important;
  -moz-border-radius: 400px !important;
  border-radius: 400px !important;
  position: absolute;
  right: -465;
  bottom: -206;
}
.clouds .cloud:nth-of-type(5) {
  width: 300px;
  height: 300px;
  background: #110224;
  -webkit-border-radius: 150px !important;
  -moz-border-radius: 150px !important;
  border-radius: 150px !important;
  position: absolute;
  right: 128;
  bottom: -184;
}
.clouds .cloud:nth-of-type(6) {
  width: 400px;
  height: 400px;
  background: #1f3237;
  -webkit-border-radius: 200px !important;
  -moz-border-radius: 200px !important;
  border-radius: 200px !important;
  position: absolute;
  left: -50;
  bottom: -150;
}
.clouds .cloud:nth-of-type(7) {
  width: 300px;
  height: 300px;
  background: #1f3237;
  -webkit-border-radius: 150px !important;
  -moz-border-radius: 150px !important;
  border-radius: 150px !important;
  position: absolute;
  left: 300;
  bottom: -150;
}

/*# sourceMappingURL=style.css.map */
