
#pageContent{
  float: left;
  display: inline-block;
  margin-left: 85px;
  margin-top: 30px;
  width: 50%;
  height: 90%;
  background: rgba(0, 0, 0, 0.25);
  padding: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1{
  margin-top: 0px;
}


#menu {
  width: 55px;
  height: 100vh;
  background: #1b0522;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-right: 1px solid #5f5f5f;
  overflow-x: hidden;
}

.menuButton {
  margin: 15px 6px 0px 4px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: inline-block;
  float: left;
}

.menuButtonMobile {
  display: none;
}

.menuButtonClosed {
  background: url("../images/hamburger.png");
}

.menuButtonOpen {
  background-image: url("../images/close.png");
  display: none;
}

.menuOpen {
  width: 80% !important;
  max-width: 900px;
}

.fullScreenButton {
  display: none;
}

#menuContents {
  width: 80vw;
  margin-left: 90px;
  margin-top: 25px;
}

#nav {
  display: inline-block;
  float: left;
}

#nav a {
  color: #ffffff;
  margin-right: 30px;
  font-family: MoonLight;
  text-decoration: none;
  font-size: 25px;
}

#nav a.selected {
  text-decoration: underline;
}

#toymenu {
  float: left;
  clear: both;
  display: inline-block;
}

.toyMenuHeader {
  margin: 20px 0px 10px;
  font-size: 15px;
  color: #bcbcbc;
}

.toyLink {
  border: 1px solid #ffffff;
  float: left;
}
