
#pageContent{
  float: left;
  display: inline-block;
  margin-left: 85px;
  margin-top: 30px;
  width: 50%;
  height: 90%;
  background: rgba(0, 0, 0, 0.25);
  padding: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1{
  margin-top: 0px;
}


#menu {
  width: 55px;
  height: 100vh;
  background: #1b0522;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-right: 1px solid #5f5f5f;
  overflow: hidden;
}

.menuButton {
  margin: 15px 6px 0px 4px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: inline-block;
  float: left;
}

.menuButtonMobile {
  display: none;
}

.menuButtonClosed {
  background: url("../images/hamburger.png");
}

.menuButtonOpen {
  background-image: url("../images/close.png");
  display: none;
}

.menuOpen {
  width: 80% !important;
  max-width: 900px;
}

.fullScreenButton {
  display: none;
}

#menuContents {
  width: 80vw;
  margin-left: 90px;
  margin-top: 25px;
}

#nav {
  display: inline-block;
  float: left;
}

#nav a {
  color: #ffffff;
  margin-right: 30px;
  font-family: MoonLight;
  text-decoration: none;
  font-size: 25px;
}

#nav a.selected {
  text-decoration: underline;
}

#toymenu {
  float: left;
  clear: both;
  display: inline-block;
}

.toyMenuHeader {
  margin: 20px 0px 10px;
  font-size: 15px;
  color: #bcbcbc;
}

.toyLink {
  border: 1px solid #ffffff;
  float: left;
}

#menuBarContents{
  width: 400px;
}


#bimbleLogo{
  width: 220px;
  height: 135px;
  background: url(../images/bimblespace.png);
  background-size: 85px;
  background-repeat: no-repeat;
  margin: 20px 0px 0px 36px;
  padding-top: 73px;
  float: left;
  font-size: 27px;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
}


@media (orientation: portrait) {
  #menu{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #5f5f5f;
  }

  .menuButtonMobile{
    margin: 2px 5px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: inline-block;
    float: left;
  }

  .menuButton{
    display: none;
  }

  .menuButtonClosedMobile{
    background: url("../images/hamburger.png");
  }

  .menuButtonOpenMobile{
    background-image: url("../images/close.png");
    display: none;
  }

  .fullScreenButton{
    float: right;
    margin-right: 10px;
    margin-top: 2px;
    width: 40px;
    height: 40px;
    display: inline-block;
  }

  .fullScreenButtonOpen{
    background-image: url("../images/gobig.png");
  }

  .fullScreenButtonClose{
    background-image: url("../images/gohome.png");
    display: none;
  }

  #nav{
    position: absolute;
    top: 80;
    left: 0;
    width: 100%;
  }

  #nav a{
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    display:block;
    font-size: 25px;
  }

  #toymenu{
    position: absolute;
    top: 300;
  }

  #content{
    position: absolute;
    top: 55;
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(100% - 50px);
  }


  #bimbleLogo{
    background-size: 45px;
    padding-top: 5px;
    padding-left: 49px;
    margin-top: 6px;
    margin-left: calc((100% - 230px) / 2);
    width: 110px;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    height: 55px;
    line-height: 15px;
  }

  #menuBarContents{
    width: 100%;
  }


}
